.sign-up {
  padding:calc(var(--s-padding) * 2) 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  color: var(--main-gray);
  font-size: var(--title-font-size);
}

.wrapper {
  width: 400px;
  max-width: 90%;
  padding-top: var(--s-padding);
  background-color: var(--fade-background);
  border-radius: var(--main-border-radius);
  box-shadow: var( --main-box-shadow-inset);
}

.form {
  padding: var(--s-padding);
  display: flex;
  flex-direction: column;
}

.error-wrapper {
  transform: translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye-button {
  color: var(--main-gray);
}

.password-hints {
  list-style: none;
  padding: 0 var(--xxs-padding);
  margin: var(--xxs-padding) 0 var(--s-padding);

  .hint-item {
    display: grid;
    grid-template-columns: 40px 1fr;
    margin-bottom: var(--xxs-padding);
    align-items: end;

    p {
      margin: 0;
      color: var(--main-gray);
    }

    .hint-indicator {
      background-color: gray;
      border-radius: 50%;
      display: flex;
      align-items: center;
      width: var(--xs-padding);
      height: var(--xs-padding);
      justify-content: center;

      .mat-icon {
        transform: scale(0.65) translateX(-2px);
        color: var(--main-white);
      }

      &.success {
        background-color: var(--success-green);
      }
    }
  }
}

.submit-btn {
  height: var(--m-padding);
  color: var(--main-white);
  background-color: var(--success-green);
  border: none;
  border-radius: var(--main-border-radius);
  cursor: pointer;
  font-size: var(--sub-title-font-size);

  &[disabled] {
    background-color: var(--main-gray);
  }
}
