@import "assets/styles/variables";
html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
  --mdc-theme-error: var(--error-red);
  --mdc-outlined-text-field-error-label-text-color:  var(--error-red);
}

